/* .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.container {
    position: relative;
    margin: 700px 0;
    padding: 100px 100px;
    width: 500px;
    height: 100px;
    background-color: #f2f2f2;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #000;
}

.wrap {
    display: grid;
    gap: 10px;
}

.test {
    height: 400px;
    width: 100%;
    background: red;
}

body {
    display: flex;
}
.side-menu {
    position: fixed;
    width: 200px;
}
.content {
    margin-left: 220px;
}
.highlight {
    background-color: yellow;
} */

* {
    margin: 0;
    padding: 0;
}

.space {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vw;
    color: #fff;
    background: #333;
}

.box {
    width: 100px;
    height: 100px;
    background: #f00;
}

.content {
    padding: 80px 40px;
}
